@using Microsoft.AspNet.Identity
@using PokemonMastersGuildSite.Actions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/GuildUtils.js")
@Styles.Render("~/CSS/news.css")
@{
    ViewBag.Title = "News";
}

<h1>News</h1>
@{
    if(new guildUtils().isOfficer(User.Identity.GetUserName()))
    {
        <input type="button" id="addNews" value="New Post" onclick="location.href = '@Url.Action("Create")'" />
    }
}

<div class="newsWrapper">
    @{
        var pageNum = ViewBag.posts.PageNumber;
        if(pageNum > 1)
        {
            <a href="~/News/Index?page=@(ViewBag.posts.PageNumber-1)"><</a>
        }
        @ViewBag.posts.PageNumber
        if (pageNum < ViewBag.posts.PageCount)
        {
            <a href="~/News/Index?page=@(ViewBag.posts.PageNumber+1)">></a>
        }
    }
    @foreach(var post in ViewBag.posts)
    {
        <div class="newsItem">
            <h3>@post.postTitle</h3>
            By @post.Username on @post.postDate
            <p>@post.postText</p>
            @if(@post.newsStoryTags.Count > 0)
            {
                <p class="newsTags">Tags: @foreach (var tag in post.newsStoryTags) { @tag.tagName }</p>
            }
        </div>
    }
</div>