@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/news.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "News";
}

<h1>News</h1>
<input type="button" id="addNews" value="New Post" onclick="location.href = '@Url.Action("Create")'" />

<div class="newsWrapper">
    @foreach(var post in ViewBag.posts)
    {
        <div class="newsItem">
            <h3>@post.postTitle</h3>
            By @post.Username on @post.postDate
            <p>@post.postText</p>
            <p class="newsTag">Tags: @foreach (var tag in post.newsStoryTags) { @tag.tagName }</p>
        </div>
    }
</div>