@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Knockout-3.2.0.js")
@Scripts.Render("~/Scripts/guildUtils.js")
@Scripts.Render("~/Scripts/GuildRoster.js")
@Scripts.Render("~/Scripts/PlayerDetails.js")
@Styles.Render("~/CSS/guildroster.css")

@{
    ViewBag.Title = "Guild Roster";
}

<script type="text/javascript">
    //Document Ready
    $(function () {
        loadPlayers();
    });

    //No fucking scroll bar, fuck that shit
    $('#showPlayer').bind('show.bs.modal', function () {
        $("html").css("margin-right", "-15px");
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Guild Roster</h3></div>
        <table class="table table-hover table-striped table-border panel-body playerList">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.playerList()">
                <tr>
                    <td><a href="#" data-bind="click: $parent.loadPlayer, text: Name"></a></td>
                    <td data-bind="text: getRankName(Rank)"></td>
                </tr>
            </tbody>
        </table>
</div>

<div id="showPlayer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <!--Javascript injects the player stats page into here-->
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>